<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= current_user && current_user.email%>

<%= link_to "LOG OUT", destroy_user_session_path, method: :delete %>
<%= link_to "LOG IN", new_user_session_path%>
